{% extends "layout.html" %}
{% block title %}{{g.title}}{% endblock %}
{% block body %}

<p><a href="{{ url_for('news.display')}}">Return to News...</a></p>
{% if rendered_html%}
{% if g.admin.has_access(g.user,Article) %}
<p>
    <a href="{{url_for('news.edit')}}{{rec.id}}">Edit this article</a>
</p>
{% endif %}
<h2>{{rec.title}}</h2>
<p class="news-date" style="color:#666;font-style:italic;">Published: {{rec.publication_date}}</p>
<div class="markdown">
{{ rendered_html | safe()}}
</div>
{% else %}
    <h2>Nothing is New...</h2>
{% endif %}
{% endblock body%}