{% extends "layout.html" %}
{% block title %}{{g.title}}{% endblock %}
{% block body %}
{% if rendered_html%}
<div class="markdown">
{{ rendered_html | safe()}}
</div>
{% else %}
    <h2>Nothing is New...</h2>
{% endif %}
{% if recs %}
    {% for rec in recs %}
    <h4 ><a href="{{url_for('news.view')}}{% if rec.slug %}{{rec.slug}}{% else %}{{rec.id}}{% endif %}/">{{ rec.title }}</a></h4>
    <div style="padding-left:1.5em;">
    <p  style="color:#666;font-style:italic;">Published: {{rec.publication_date | short_date_string | default('Draft',True)}}</p>
    <p>{{rec.words[:120]}} ...</p>
    </div>
    {% endfor %}
{% else %}
<h4>No News yet...</h4>
{% endif %}

{% endblock body%}